@model IEnumerable<TaoTaoShopping.Models.order_detail>

@{
    ViewBag.Title = "Details";
}

<h2 align="center">Order Details</h2>
<style>
    .middle {
        width: 400px;
        margin: 0 auto;
    }
</style>
<div class="middle">
    <dl class="dl-horizontal">
        <dt>
            Order Number:
        </dt>

        <dd>
            @ViewBag.order.order_num
        </dd>

        <dt>
            Order Amount:
        </dt>

        <dd>
            $@ViewBag.order.sum_price
        </dd>

        <dt>
            Order Remarks:
        </dt>

        <dd>
            @ViewBag.order.mark
        </dd>

        <dt>
            Order Time:
        </dt>

        <dd>
            @ViewBag.order.createtime
        </dd>

        <dt>
            Has the order been paid for:
        </dt>

        <dd>
            @if (ViewBag.order.is_pay == 1)
            {
                <span>Paid</span>
            }
            else
            {
                <span class="btn btn-danger">Not Paid</span>
            }
        </dd>
        <dt>
            Payment Method:
        </dt>

        <dd>
            @ViewBag.order.pay_way
        </dd>
        <dt>
            Order Status:
        </dt>

        <dd>
            @if (ViewBag.order.state == 0)
            {
                <span>Not Shipped</span>
            }
            else if (ViewBag.order.state == 1)
            {
                <span class="btn btn-warning">Shipped</span>
            }
            else if (ViewBag.order.state == 2)
            {
                <span class="btn btn-success">Received</span>
            }
            else
            {
                <span class="btn btn-danger">Completed</span>
            }
        </dd>

        <dt>
            Ordered By:
        </dt>

        <dd>
            @ViewBag.order.user.username
        </dd>
        <dt>
            Order Actions:
        </dt>

        <dd>
            @if (ViewBag.order.state == 0)
            {
                <a href="/Order/Send?order_id=@ViewBag.order.id&state=1" class="btn btn-danger" onclick="return confirm('The item has not been shipped, do you want to ship it now?')">Ship Now</a>
            }
            else if (ViewBag.order.state == 1)
            {
                <span class="btn btn-warning">Item shipped, waiting for user to receive</span>
            }
            else if (ViewBag.order.state == 2)
            {
                <a href="/Order/Send?order_id=@ViewBag.order.id&state=3" class="btn btn-danger" onclick="return confirm('The item has not been shipped, do you want to ship it now?')">User received, click to complete order</a>
            }
            else
            {
                <input class="btn btn-success" value="Order Completed" type="button" />
            }
        </dd>
    </dl>
</div>
<hr />
<h2 align="center">Shipping Information</h2>
<table class="table">
    <tr>
        <th>
            Recipient: @ViewBag.order.name
        </th>
        <th>
            Contact Number: @ViewBag.order.phone
        </th>
        <th>
            Shipping Address: @ViewBag.order.address
        </th>
    </tr>
</table>
<hr />
<h2 align="center">Order Details</h2>
<table class="table">
    <tr>
        <th>
            Cover
        </th>
        <th>
            Product Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Product Price
        </th>
        <th>
            Total Price
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                <img src="@item.shopping.img" width="50" height="50" alt="Alternate Text" />
            </th>
            <th>
                @item.title
            </th>
            <th>
                @item.count
            </th>
            <th>
                @item.price
            </th>
            <th>
                @item.sum_price
            </th>
        </tr>
    }
</table>
<center>
    <a href="javascript:void(0)" class="btn btn-info" onclick="window.history.back(-1);">Back</a>
</center>
