@model IEnumerable<TaoTaoShopping.Models.order>

@{
    ViewBag.Title = "Index";
}

<h2 align="center">Order Management</h2>
@* Search Area *@
<div class="row" style="margin:10px 0;">
    <div class="col-lg-12">
        <center>
            <form action="" method="get">
                Search Order By Username： <input type="text" class="form-control" style="display:inline-block;width:200px;" name="keyword" value="@(Request.QueryString["keyword"] != null ? Request.QueryString["keyword"]:"" )" placeholder="Please Enter Keyword" /> <input type="submit" name="submit" value="Search" class="btn btn-info" />
            </form>
        </center>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            Order Number
        </th>
        <th>
            Order Amount
        </th>
        <th>
            Remarks
        </th>
        <th>
            Order Time
        </th>
        <th>
            Paid
        </th>
        <th>
            Order Status
        </th>
        <th>
            Ordered By
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sum_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createtime)
            </td>
            <td>
                @if (item.is_pay == 0)
                {
                    <span>Not Paid</span>
                }
                else
                {
                    <span class="btn btn-success">Paid</span>
                }
            </td>
            <td>
                @if (item.state == 0)
                {
                    <span>Not Shipped</span>
                }
                else if (item.state == 1)
                {
                    <span class="btn btn-warning">Shipped</span>
                }
                else if (item.state == 2)
                {
                    <span class="btn btn-success">Received</span>
                }
                else
                {
                    <span class="btn btn-danger">Completed</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.username)
            </td>
            <td>
                <a href="/Order/Details?id=@item.id" class="btn btn-success">View Order</a>
            </td>
        </tr>
    }

</table>
