@model FurnitureShopping.Models.shopping

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Product Specification</h2>

<div class="row">
    <div class="col-md-4">
        <form action="" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label">Product Info</label>
                id: @Model.id<br />
                title: @Model.title <br />
                image: <img src="@(ViewData["attrimg"] != null ? ViewData["attrimg"] : @Model.img)" width="100" />
                <input type="hidden" name="Pid" value="@Model.id" />
            </div>
            <div class="form-group">
                <label class="control-label">title:</label>
                <input name="Title" required class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">price:</label>
                <input name="Price" required class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Available Stock:</label>
                <input type="number" name="attristock" value="@ViewBag.ainfo.attristock" required class="form-control" min="0" step="1" />
                <span asp-validation-for="attristock" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Upload Image for Attribute:</label>
                <input type="file" name="attrimg" class="form-control-file" />
                <span asp-validation-for="attrimg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
